In [99]:
import pandas as pd
import numpy as np

In [100]:
df1 = pd.read_csv("/content/Content (1).csv")
df1.head(5)

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [101]:
df2 = pd.read_csv("/content/Profile (1).csv")
df2.head(5)

,Unnamed: 0,User ID,Interests,Age
0,0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41
1,1,95258c36-5b6b-4591-85ee-0c43f503c1d5,['tennis'],23
2,2,a8229d24-f219-4930-a382-24049a8f73bb,"['fitness', 'cooking', 'animals', 'travel']",25
3,3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,"['technology', 'culture', 'veganism']",2
4,4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,['education'],44

In [102]:
df = pd.merge(df1, df2, how = "left", on = "User ID")
df.head(5)

,Unnamed: 0_x,Content ID,User ID,Type,Category,URL,Unnamed: 0_y,Interests,Age
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,184,"['education', 'studying']",13
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...,386,"['food', 'cooking', 'technology', 'science']",13
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...,453,"['technology', 'animals']",5
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...,258,"['culture', 'food', 'culture']",0
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...,204,['animals'],31

In [103]:
session = pd.read_csv("/content/Session (1).csv")
session.columns

Index(['Unnamed: 0', 'User ID', 'Device', 'Duration'], dtype='object')

In [104]:
df = df.merge(session, how = "left", on = "User ID")

In [105]:
df.loc[:, ~df.columns.str.match('Unnamed')]

,Content ID,User ID,Type,Category,URL,Interests,Age,Device,Duration
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13,Microsoft,10
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...,"['food', 'cooking', 'technology', 'science']",13,Huawei,54
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...,"['technology', 'animals']",5,Huawei,23
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...,"['culture', 'food', 'culture']",0,Google,19
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...,['animals'],31,Apple,10
...,...,...,...,...,...,...,...,...,...
995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN,['tennis'],24,Google,56
996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...,['healthy eating'],38,Apple,5
997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...,"['cooking', 'culture', 'studying', 'tennis']",32,Motorola,67
998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...,"['public speaking', 'studying']",20,Microsoft,56
999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,"['culture', 'science', 'science']",38,Apple,28

In [106]:
df.columns

Index(['Unnamed: 0_x', 'Content ID', 'User ID', 'Type', 'Category', 'URL',
       'Unnamed: 0_y', 'Interests', 'Age', 'Unnamed: 0', 'Device', 'Duration'],
      dtype='object')

New data set is been created using location and user because they are connected in data model

Again a new data set Sessions is been added to the above data set

New data set alert

In [107]:
reactions = pd.read_csv("/content/Reactions (1).csv")
reactions.drop(['Unnamed: 0','User ID'],axis=1,inplace=True)
reactions.columns

Index(['Content ID', 'Type', 'Datetime'], dtype='object')

In [108]:
df = df.merge(reactions, how = "left", on = "Content ID" )

In [109]:
df = df.loc[:, ~df.columns.str.match("Unnamed")]
df.columns

Index(['Content ID', 'User ID', 'Type_x', 'Category', 'URL', 'Interests',
       'Age', 'Device', 'Duration', 'Type_y', 'Datetime'],
      dtype='object')

In [110]:
df = df.rename({"Type_x":"cont_type", "Type_y":"Type"}, axis = 1)
df.columns

Index(['Content ID', 'User ID', 'cont_type', 'Category', 'URL', 'Interests',
       'Age', 'Device', 'Duration', 'Type', 'Datetime'],
      dtype='object')

In [112]:
reaction_type = pd.read_csv("/content/ReactionTypes (1).csv")
reaction_type.columns

Index(['Unnamed: 0', 'Type', 'Sentiment', 'Score'], dtype='object')

In [111]:
df = df.merge(reaction_type, how = "left", on = "Type")
df.rename(columns = {"Type": "r_type"})
df = df.loc[:, ~df.columns.str.match("Unnamed")]
df.columns

Index(['Content ID', 'User ID', 'cont_type', 'Category', 'URL', 'Interests',
       'Age', 'Device', 'Duration', 'Type', 'Datetime', 'Sentiment', 'Score'],
      dtype='object')

df = df.loc[:,~df.apply(lambda x: x.duplicated(),axis=1).all()].copy()
df.head(5)

In [113]:
df = df.loc[:,~df.apply(lambda x: x.duplicated(),axis=1).all()].copy() 
df.head(5)

,Content ID,User ID,cont_type,Category,URL,Interests,Age,Device,Duration,Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13,Microsoft,10,NaN,2021-04-22 15:17:15,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13,Microsoft,10,disgust,2020-11-07 09:43:50,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13,Microsoft,10,dislike,2021-06-17 12:22:51,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13,Microsoft,10,scared,2021-04-18 05:13:58,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13,Microsoft,10,disgust,2021-01-06 19:13:01,negative,0.0

In [114]:
df.to_csv("/content/semi_final.csv", index= False)

In [115]:
df = df.rename({"Score_x": "Score", "Sentiment_x": "Sentiment", "Datetime_x": "Datetime", "User ID_x": "User ID"}, axis = 1)

In [117]:
df.columns

Index(['Content ID', 'User ID', 'cont_type', 'Category', 'URL', 'Interests',
       'Age', 'Device', 'Duration', 'Type', 'Datetime', 'Sentiment', 'Score'],
      dtype='object')

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25573 entries, 0 to 25572
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25573 non-null  object
 1   User ID     25573 non-null  object
 2   cont_type   25573 non-null  object
 3   Category    25573 non-null  object
 4   URL         20857 non-null  object
 5   Interests   25573 non-null  object
 6   Age         25573 non-null  int64
 7   Device      25573 non-null  object
 8   Duration    25573 non-null  int64
 9   Type        24573 non-null  object
 10  Datetime    25553 non-null  object
 11  Sentiment   24573 non-null  object
 12  Score       24573 non-null  float64
dtypes: float64(1), int64(2), object(10)
memory usage: 2.7+ MB

In [119]:
df.isnull().sum()

Content ID       0
User ID          0
cont_type        0
Category         0
URL           4716
Interests        0
Age              0
Device           0
Duration         0
Type          1000
Datetime        20
Sentiment     1000
Score         1000
dtype: int64

In [120]:
df.drop(['URL','Interests'],axis=1,inplace=True)

In [124]:
df = df.dropna()

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24573 entries, 1 to 25572
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  24573 non-null  object
 1   User ID     24573 non-null  object
 2   cont_type   24573 non-null  object
 3   Category    24573 non-null  object
 4   Age         24573 non-null  int64
 5   Device      24573 non-null  object
 6   Duration    24573 non-null  int64
 7   Type        24573 non-null  object
 8   Datetime    24573 non-null  object
 9   Sentiment   24573 non-null  object
 10  Score       24573 non-null  float64
dtypes: float64(1), int64(2), object(8)
memory usage: 2.2+ MB

In [129]:
df['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', 'Culture', '"food"', 'Food',
       '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [131]:
df['Category']= df['Category'].replace('"', '', regex=True)
df['Category']=df['Category'].str.lower()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [132]:
df['Category'].unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

In [133]:
df.to_csv("/content/Final_2.csv", index = False)